{% extends "base.html" %}
{% block head %}



{% endblock %}
{% block page_content %}



<div class="tab">
  <button class="tablinks active" onclick="select_tab(event, 'Comic')"><h4>Comics</h4></button>
  <button class="tablinks" onclick="select_tab(event, 'Listing')"><h4>Listings</h4></button>
  <button class="tablinks" onclick="select_tab(event, 'Review')"><h4>Reviews</h4></button>
</div>

<div id="Comic" class="tabcontent" style="width:400px" >
  <form action="{{ url_for('results') }}" method="POST" style="float:right;text-align:right;">
      <h3>Search Comics</h3>

    Title<input type="text" name="title"><br>
    Author<input type="text" name="author" ><br>
    ID<input type="number" name="id" ><br><br>

    Rating<br>
    Min: <input type="number" name="min" style="width:100px"> Max: <input type="number" name="max" style="width:100px"><br>
    <input type="hidden" name="type" value="c">
    <input type="Submit" value="Submit">

  </form>
</div>

<div id="Listing" class="tabcontent" style="display:None">
  <h3>Search Listings</h3>
   <form action="{{ url_for('results') }}" method="POST">
    Seller<input type="text" name="seller"><br>
    Title<input type="text" name="title"><br>
    Author<input type="text" name="author"><br>
    Price<br>
    Min: <input type="number" name="min"> Max: <input type="number" name="max"><br>
    <input type="hidden" name="type" value="l">
    <input type="Submit" value="Submit">
   </form>
</div>

<div id="Review" class="tabcontent" style="display:None">

  <h3>Search Reviews</h3>

   <form action="{{ url_for('results') }}" method="POST">

    <input type="hidden" name="type" value="r">
    <input type="Submit" value="Submit">
   </form>
</div>




{% endblock %}
