
{% extends "base.html" %}
{% block page_content %}

<h3>The database currently contains {{count}} comics.</h3>
<table class="table-striped table-bordered">
	<thead>
		<td>CID</td>
		<td>Title</td>
		<td>Author</td>
		<td>Issue Number</td>
		<td>Description</td>
	</thead>
{% for row in rows %}
	<tr>
		<td>{{ row["CID"] }}</td>
		<td><a href="{{url_for('comic', cid=row['CID'])}}">{{ row["title"] }} </a></td>
		<td>{{ row["author"] }}</td>
		<td>{{ row["issueNumber"] }}</td>
		<td>{{ row["description"] }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}

